:root {
    --primary-color: #E3ED5D;
    --secondary-color: #4B22CC;
    --white: #ffffff;
    --black: #000000;
    --black-shade-one: #020202;
    --yellow-hover: #ccd554;
    --gray-shade-one: #999999;
    --red: #FF1E1E;
    --green: #00A31B;
    --font-famliy: 'Plus Jakarta Sans', sans-serif;
}

.uich-main {
    display: flex;
    align-items: center;
    position: fixed;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    top: 0;
    left: 160px;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 99;
}

.uich-main .uich-step-2,
.uich-main .uich-step-3,
.uich-main .uich-step-4,
.uich-main .uich-step-5,
.uich-main .uich-step-6 {
    display: none;
}

.uich-popup-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.uich-onbording-hide,
.uich-box.uich-hide{
    display: none !important;
}

.uich-main .uich-fix-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 860px;
    height: auto;
    border-radius: 12px;
    background-color: var(--white);
    padding: 20px;
    gap: 20px;
}

.uich-main .uich-fix-popup img {
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 20px;
    width: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.uich-main .uichemy-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.uich-main .uichemy-content h1 {
    font-family: var(--font-famliy);
    color: var(--black);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3em;
    margin: 0px;

}

.uich-main .uichemy-content span {
    font-family: var(--font-famliy);
    color: var(--black);
    font-size: 16px;
    font-weight: 700;
    line-height: 1em;
    margin-bottom: 20px;
}

.uich-main .uichemy-list-item ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0;
    margin: 0;
}

.uich-main .uichemy-list-item li {
    color: var(--gray-shade-one);
    padding: 0;
    margin: 0;
    position: relative;
}
    
.uich-main .uichemy-list-item li a {
    font-family: var(--font-famliy);
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-decoration: none;
    list-style-type: var(--gray-shade-one);
    padding-bottom: 2px;
}
.uich-main .uichemy-list-item li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    transition: transform 0.25s ease-out;
    left: 0;
    transform-origin: bottom right;
    transform: scaleX(0);
    background-color: #4B22CC;
}
.uich-main .uichemy-list-item li a:hover::after{
   transform: scaleX(1);
   transform-origin: bottom left;
}

.uich-main .uichemy-list-item li a:focus {
    box-shadow: unset;
}

#first-item {
    list-style-type: none;
}

.uich-main .uichemy-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.uich-main .uichemy-btn button {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding: 12px 32px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}

.uichemy-btn.uich-btn-step-1 .uich-btn-back{
    display: none;
}

.uichemy-btn.uich-btn-step-6 .uich-btn-skip{
    visibility: hidden;
    display: none;
}

.uich-main .uichemy-btn .uichemy-page-count{
    display: flex; 
    font-family: var(--font-famliy);
    color: #999999;
}

.uich-main .uichemy-btn .uich-pagination-first{
    display: flex; 
    font-weight: bold;
    color: #212121;
}

.uich-main .uichemy-btn-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

.uich-main .uichemy-btn #skip:hover {
    color: var(--secondary-color) !important;
    border: 1px solid var(--secondary-color) !important;
}

.uich-main .uich-btn-back {
    border: none;
    color: var(--gray-shade-one);
}

.uich-main .uich-btn-back:hover {
    color: var(--black);
}

.uich-main .uichemy-btn-group .uich-btn-finish {
    background-color: var(--secondary-color) !important;
    color: var(--white) !important;
}

.uich-main .uichemy-btn-group .uich-btn-finish:hover {
    background-color: #6643d4 !important;
    color: var(--white) !important;
}
.uich-btn-skip{
    color: #999999;
}


/* Requirements */
.uich-main .uichemy-content p {
    font-family: var(--font-famliy);
    color: var(--gray-shade-one);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3em;
    margin: 0px;
}

.uich-main .uichemy-info {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-top: 15px;
}

.uich-main .uichemy-info .uich-box {
    display: flex;
    width: 33.33%;
    height: 100px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    padding: 25px 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.uich-main .uichemy-info .uich-box .uich-tooltip {
    border-radius: 5px;
    padding: 4px 6px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    top: -10px;
    left: 20px;
    position: absolute;
}

.uich-main .uichemy-info .uich-box .uich-tooltip.uich-ob-success{
    background-color: #03BA21;
}
.uich-main .uichemy-info .uich-box .uich-tooltip.uich-error{
    background-color: #FF3D31;
}

.uich-main .uichemy-info .uich-box .uich-tooltip #uich-tooltip-txt{
    font-family: var(--font-famliy);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: var(--white);
}

.uich-main .uichemy-info .uich-box span{
    display: flex;
    align-items: center;
    align-content: center;
}

.uich-main .uichemy-info .uich-box h3,
.uich-select-page-builder h3 {
    font-family: var(--font-famliy);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #212121;
    margin: 0;
}

.uich-main .uichemy-info .uich-box .uich-info-btn {
    width: max-content;
    padding: 10px 8px;
    border-radius: 5px;
    font-family: var(--font-famliy);
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
}

.uich-main .uich-success {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    background-color: #EDE9FA;
    cursor: pointer;
}

.uich-main .uich-ob-active {
    color: #999999;
    border: 1px solid #E8E8E8;
    background-color: #E8E8E8;
    cursor: pointer;
}

.uich-main .uichemy-info .uich-box .uich-info-btn svg {
    margin-right: 6px;
}


/* Connect figma plugin process */
.uich-process-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    align-items: flex-start;
}

#background-image {
    position: absolute;
    top: 65%;
}

#plugin-dotted-image {
    position: absolute;
    top: 70%;
}

#register-dotted-image {
    position: absolute;
    top: 72%;
    width: 46%;
}

.uich-process-col-3 {
    text-align: center;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    z-index: 99;
}

.uich-process-col-3 span {
    width: 10px;
    padding: 10px 15px;
    border-radius: 100px;
    background-color: var(--secondary-color);
    color: var(--white);
    font-family: var(--font-famliy);
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.uich-process-col-3 h4,
.uich-latest-builder h4 {
    margin: 0;
    font-family: var(--font-famliy);
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #212121;
}

.uich-process-col-3 h4 a {
    color: var(--secondary-color);
    text-decoration: none;
}

.uich-drop-arrow {
    margin-top: -20px;
}

/* welcome css */

.uich-main .uich-fix-popup .uich-select-page-builder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.uich-main .uich-fix-popup .uich-select-page-builder .uich-egb-builder {
    display: flex;
    flex-direction: row;
    gap: 35px;
    width: auto;
    position: relative;
}

.uich-main .uich-fix-popup .uich-select-page-builder .uich-egb-builder .uich-latest-builder {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.uich-main .uich-fix-popup .uich-select-page-builder .uich-latest-builder input{
    display: none;
}

.uich-main .uich-fix-popup .uich-select-page-builder .uich-latest-builder input:checked + label{
    border: 1px solid var(--secondary-color);
    background-color: #F6F4FC;
    opacity: 1;
}

.uich-main .uich-fix-popup .uich-select-page-builder .uich-latest-builder label {
    display: flex;
    gap: 10px;gap: 10px;
    padding: 12px 20px;
    border-radius: 5px;
    border: 1px solid #E8E8E8;
    background-color: transparent;
    opacity: 1;
}

.uich-main .uich-fix-popup .uich-select-page-builder .uich-egb-builder .uich-latest-builder .uich-comingsoon {
    display: flex;
    gap: 10px;
    opacity: 0.5;
}

#Gutenberg {
    padding: 7px;
    border-radius: 5px;
    font-family: var(--font-famliy);
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    color: var(--white);
    background-color: var(--secondary-color);
    position: absolute;
    right: -3%;
    top: -41%;
    opacity: 1;
}
/* 
#uich-radio-select {
    border: 1px solid var(--secondary-color);
    background-color: #F6F4FC;
    opacity: 1;
} */

/* media query  */

@media only screen and (max-width: 1024px) {
    .uich-main {
        height: 100vh;
        display: flex;
        justify-content: center;
        left: 0;
        padding: 15px;
    }

    .uich-main .uich-fix-popup {
        width: 600px;
        height: auto;


    }

    .uich-main .uich-fix-popup img {
        width: 100%;
        margin-bottom: 20px;
        background-size: contain;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
    }

    .uich-main .uichemy-content h1 {
        font-size: 22px;
        line-height: 1.4em;
    }

    .uich-main .uichemy-list-item ul {
        gap: 25px;
        padding-top: 20px;
    }

    .uich-main .uichemy-list-item li a {
        font-size: 12px;
    }

    .uich-main .uichemy-info {
        gap: 20px;

    }

    .uich-main .uichemy-info .uich-box {
        padding: 20px 15px;
        height: 110px;
    }

    .uich-main .uichemy-info .uich-box h3 {
        font-size: 14px;
    }

    .uich-main .uichemy-btn {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
    }

    .uich-main .uichemy-btn button {
        font-size: 14px;
        padding: 12px 20px;
    }

    #background-image {
        top: 59.5%;
        width: 68%;
    }

    #plugin-dotted-image {
        top: 66%;
        width: 68%;
    }

    #register-dotted-image {
        top: 68%;

    }

    .uich-process-main {
        gap: 25px;
    }

    .uich-process-col-3 h4 {

        font-size: 12px;
        line-height: 18px;
    }

}


@media only screen and (max-width: 766px) {
    .uich-main {
        left: 0;
        padding: 0;
    }

    .uich-main .uich-fix-popup {
        box-sizing: border-box;
        width: auto;
        overflow: auto;
        min-height: 400px;
        margin: 0 15px;
    }

    .uich-main .uichemy-content h1 {
        font-size: 20px;
        line-height: 1.4em;
    }

    .uich-main .uich-fix-popup img {
        width: 100%;
        margin: 0;
        height: fit-content;
    }

    .uich-main .uichemy-content {
        gap: 10px;
    }

    .uich-main .uichemy-list-item ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding-top: 15px;
    }

    #first-item {
        list-style-type: none;
    }

    .uich-main .uichemy-info {
        flex-direction: column;
        padding: 15px;
        margin: 0;
    }

    .uich-main .uichemy-info .uich-box {
        width: 100%;
        height: auto;
        gap: 25px;
        padding: 25px 15px;
        justify-content: center;
        align-items: center;
    }

    .uich-main .uichemy-btn {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 25px;
        align-items: center;
        padding-top: 0px;
    }

    .uich-main .uichemy-btn button {
        padding: 10px 15px;
    }

    .uich-process-main {
        flex-direction: column;
        gap: 10px;
    }

    .uich-process-col-3 {
        width: 100% !important;
        gap: 12px;
    }

    #background-image {
        display: none;
    }

    #plugin-dotted-image {
        display: none;
    }

    #register-dotted-image {
        display: none;
    }

    .uich-drop-arrow {
        margin-top: -10px;
    }

    .uich-main .uich-fix-popup .uich-select-page-builder .uich-egb-builder {
        flex-direction: column;
        gap: 25px;
    }

    .uich-main .uich-fix-popup .uich-select-page-builder {
        gap: 15px;
    }

    #Gutenberg {
        padding: 5px;
        font-size: 9px;
        left: 48%;
        top: 70%;
        opacity: 1;
        right: unset;
        line-height: 10px;
    }

    #Bricks {
        padding: 5px;
        font-size: 9px;
        left: 48%;
        top: 68%;
        opacity: 1;
    }
    .uich-step-5 {
        max-height: 530px;
        overflow: hidden scroll;
    }
    .uich-step-5 .uichemy-info .uich-page-bricks.uich-box{
        width: 100% !important;
    }

}

.uich-onbording-bricks[disabled] {
    cursor: not-allowed;
}

.uich-step-5 .uichemy-info .uich-page-bricks.uich-box{
    width: 33.33%;
    justify-content: center;
    align-items: center;
}

.uich-step-5 > .uichemy-info{
    justify-content: center;
    padding: 20px;
}