:root {
    --uich-blue: #1717CC;
    --uich-blue-dark: #0303A0;
    --uich-blue-gradient: linear-gradient(90deg, #1717CC 0%, #0303A0 128.29%);
    --uich-nav-strip-bg-light: #f5f7fe;
    --uich-light-gray-tint: #f1f4f5;
    --uich-heading: #1A1A1A;
    --uich-gray-primary-normal: #666666;
    --uich-gray-secondary-dark: #555555;
    --uich-ghost-btn-border: #72727240;
    --uich-red-btn-bg: #F12D2D;
    --uich-red-btn-bg-dark: #ca2222;
    --uich-toggle-off-bg: #d1d1d6;
    --uich-toggle-on-bg: #1717CC;
    --uich-block-hint-txt-bg: #ff5a6e;
    --uich-card-tip-bg: #1717CC;
    --uich-black: #000000;
    --uich-white: #ffffff;
    --uich-white-light: #ffffffb2;
    --uich-white-very-light: #ffffff26;
    --uich-table-border: #e8e8e8;
    --uich-red: #ff0000;
    --uich-green: #1ecb2b;
    --uich-off-green: #14c38e;
    --uich-light-blue: #E2E9FF;
    --uich-very-light-blue: #F5F7FE;
    --uich-dark-varient: #051525;
    --uich-font-family: "Plus Jakarta Sans", sans-serif;
    --primary-color: #4b22cc;
    --text-color: #020202;
    --white: #fff;
  }


// --------- media query end --------- //
